[2015-08-17 10:48] soupi opened #1 "Game and GUI programming"
Hi! first, I wanted to say thanks for making this document!

I would like to share a few points about Game and GUI programming in Haskell:

Regarding GUI programming in Haskell: One front that seems to be actively developed is [reflex-dom](https://hackage.haskell.org/package/reflex-dom) which targets both ghcjs and ghc. when targeting ghc it uses webkitgtk3, so hopefully we'll be able to build nic

[2015-08-17 13:19] aaronlevin opened #5 "ad - automatic differentiation"
This has always stood out as an interesting and uniquely-haskell library. I'm not sure where it should go.

I'd be happy to submit a PR with a suggestion of a good category. Data science?

https://hackage.haskell.org/package/ad

[2015-08-17 13:27] ocharles commented on #5
`ad` is generally useful in the machine learning field (though I also used it recently to do some root-finding I needed for graphics animations. It probably belongs in either machine learning or just numerics.

[2015-08-17 13:44] passy commented on #1
For game programming it might also be worth mentioning Elise Huard's work. She gave a [recent talk at eurucamp 2015](https://www.youtube.com/watch?v=bHPze9H-Ces) and has published the book [Game programming in Haskell](https://leanpub.com/gameinhaskell).

[2015-08-17 15:10] bonds opened #10 "debugging"
It would be great to see a section on debugging and troubleshooting code in *sotu.md*

[2015-08-17 15:31] bitemyapp opened #11 "Concurrency"
I'd rate this best in class. We can do Erlang-style single machine concurrency, JVM-style, have the best STM implementation, have MVars, cheapest green threads, OS threads and CPU pinning are available if needed, [LVars](http://hackage.haskell.org/package/lvish) etc.

Also see: https://news.ycombinator.com/item?id=10071905

I have a hard time knowing why this is anything other than best-in-class u

[2015-08-17 16:04] lukerandall opened #13 "Hyperlink package names"
It would be nice for package names to be linked to hackage. If you're happy to merge it, I'll send a PR with this done

[2015-08-17 16:43] Gabriella439 commented on #13
Yes, I would love this.

[2015-08-17 18:08] lukerandall commented on #13
#18 adds this.

[2015-08-17 18:08] #13 closed

[2015-08-17 19:36] fstiffo opened #20 "Link to The Yesod Book is wrong"

[2015-08-17 22:16] thkoch2001 opened #22 "Server-side web programming"
Thank you for your sotu post. However as a newbie to Haskell and long-time (and suffering) PHP programmer I can't share your assessment in regard to "Server-side web programming". Haskell is barely usable in this area, IMHO.

Of course I'd love to use a better language than PHP. But the sheer size of the PHP ecosystem in the end leads to the availability of at least a few impressing frameworks and

[2015-08-17 22:47] Gabriella439 commented on #22
I'm going to CC: @snoyberg on this discussion who knows better than I do about how Haskell stacks against other languages for web app development.

Note that the "Mature" rating does not necessarily imply as good as a front-runner, but rather good enough for most use cases.  If Haskell were competitive with, say, Rails in terms of feature-completeness and ease-of-use then it would be a candidate f

[2015-08-17 23:57] mitchellwrosen opened #23 "Add Earley to notable parsing libraries?"
Not sure how mature it is, but I've had success with https://hackage.haskell.org/package/Earley.

[2015-08-18 00:10] #5 closed

[2015-08-18 02:21] GetContented opened #24 "No mention of learning resources"
Lack of great beginner resources is one of the most fundamental problems in Haskell to date IMO.

I'm aware there are major efforts being made in improving the situation, (for example http://haskellbook.com), but the fact that this is left out of your state of the ecosystem document kind of speaks volumes about how unimportant this is deemed by most Haskellers.

For a language which has had as muc

[2015-08-18 02:23] GetContented commented on #20
@fstiffo I fixed the link... in this pull request: https://github.com/Gabriel439/post-rfc/pull/25

[2015-08-18 02:32] #20 closed

[2015-08-18 02:32] Gabriella439 commented on #20
Thank you!

[2015-08-18 03:24] GetContented commented on #22
@thkoch2001 as I mentioned in Issue https://github.com/Gabriel439/post-rfc/issues/24 I think that this may be due to the fact that learning Haskell can be quite difficult at first due to the fact that you're not just learning a new set of words for something you already know, you're learning a new set of thoughts to think, and also a way to understand the "thinkings" you've already thought before.

[2015-08-18 04:13] Gabriella439 commented on #1
`reflex-dom` was also mentioned by somebody else and I added that to the post.

I think it would probably be worth mentioning `sdl2` and linking to Chucklefish's post.  The other libraries seem a bit too experimental to mention at this point; I'd prefer to stick to things that are closer to complete.

Somebody else also mentioned `helm` which I'm also checking out to see how complete it is.

@pass

[2015-08-18 05:04] snoyberg commented on #22
I'm not going to claim that Haskell or Yesod have every single feature that exists in any web framework in existence. That wouldn't be true. However, many of the points raised above _are_ in fact supported by Yesod (and possibly other frameworks, I'm just not an expert at them). However, they may have different names.

For example, you mention a bundle system. From your description, that sounds a

[2015-08-18 05:23] soupi commented on #1
@Gabriel439 sure. though I would keep an eye on Luminance and LambdaCube3d, especially LambdaCube3d. It has been developed for a few years and recently has been developed full time. There is already an [online editor](http://lambdacube3d.com/editor.html) and plans [1](http://lambdacube3d.com/questions#development-plan)  [2](http://lambdacube3d.com/slides.html#%2828%29) for making it stable.

[2015-08-18 09:18] passy commented on #1
@Gabriel439 That's fair enough. :)

[2015-08-18 16:02] GetContented commented on #24
I think this has been achieved by inlining educational resources in each section. It'd be quite useful to have a "general books" section, but I'll close this and open a different issue as per your instructions on suggesting books.

[2015-08-18 16:02] #24 closed

[2015-08-18 19:53] PierreR opened #31 "Haskell pretty printer (best of class ?)"
It feels odd to me to have wl-pprint / ansi-wl-pprint as "notable libraries" in a "Best of class" section.

I don't think there is not a "Best of class" pretty printer for Haskell. I think this thread make the point:

https://www.reddit.com/r/haskell/comments/32jr3f/new_maintainer_for_wlpprint/

[2015-08-18 20:00] PierreR opened #32 "Unicode maturity"
Would it be a good idea to add a note about `Text/String` coexistence ?

As you said yourself, this might be the biggest Haskell annoyance ever ;-)

[2015-08-18 21:20] Gabriella439 commented on #32
Yep, that is really important to note!

[2015-08-18 21:46] Gabriella439 commented on #1
@soupi I was really impressed by the online editor.  How different is the LambdaCube3D DSL from Haskell?  The syntax seems remarkably similar to Haskell so it seems like it would be easy for a Haskell programmer to pick up

[2015-08-18 23:43] Gabriella439 commented on #24
Although you've closed the issue I just want to say that I agree.  Learning material is not that great for newcomers, especially in the book department

[2015-08-19 05:19] soupi commented on #1
@Gabriel439 I have to say that I don't have experience with it, but on the site  there is a [short language specification page](http://lambdacube3d.com/haskell) stating that _"LambdaCube 3D is specified as Haskell98 plus various language extensions."_.
There is also information [on this FAQ page](http://lambdacube3d.com/questions#related-work) about why they chose to develop a compiler instead of

[2015-08-19 13:19] Blaisorblade opened #34 ""Mature" package management with a two-month-old tool?"
Stack looks really cool, and much better than `cabal-install`, but it's too young to make an area "mature" — indeed, I run into a bug within 5 commands (commercialhaskell/stack#665).

In other mature areas, "mature" is used as I'd expect: tools/libraries are old enough to be (next to) bug-free (say QuickCheck).

(Maybe package management is mature according to the definition you give, but then I d

[2015-08-19 23:41] timbod7 opened #35 "Chart examples"
Nice Document!

But...

Whilst the Chart library is a long way from perfect. I don't really understand this criticism. The wiki (https://github.com/timbod7/haskell-chart/wiki, referenced from hackage) has a dozen or so examples of working code.

[2015-08-20 01:27] Gabriella439 commented on #35
So I think the issue here is that the Chart package doesn't mention the Github examples anywhere in the Haddock documentation.  I was going to open up a ticket to fix this but then I realized that you are the maintainer of `Chart` :)

Maybe this would be as simple as adding one complete example in the description of `Chart` and then a link pointing to the remaining Github examples.

[2015-08-20 01:33] timbod7 commented on #35
I will do that.

I had assumed that most people would find the examples on the wiki, but evidently that is not the case:-)

[2015-08-20 02:40] Gabriella439 commented on #35
Thanks!  Also let me know when this is fixed so I can update the post

[2015-08-20 03:53] Gabriella439 commented on #1
So I decided not to add LambdaCube3D for now mainly because it's not complete yet (and I want to stick to things that are ready for use), but I will keep this issue open to keep track of LambdaCube's progress and add it when it's ready

[2015-08-20 05:06] soupi commented on #1
@Gabriel439 fair enough. thanks!

[2015-08-20 10:44] timbod7 commented on #35
Done: https://hackage.haskell.org/package/Chart-1.5.3/docs/Graphics-Rendering-Chart-Easy.html

I actually forgot the extra link back to the wiki -  I've comitted the change and it will go to hackage in the next update.

[2015-08-21 15:42] Gabriella439 commented on #34
I ran into the same bug before I even wrote the post, but I still think `stack` warrants a "mature" rating.

I don't really view age to be an accurate measure of being bug free.  `cabal` is probably the best example of this within the Haskell ecosystem.  There are also many examples of pretty low quality build tools in other mainstream languages (basically, all of them).  You could make an argumen

[2015-08-21 15:59] #35 closed

[2015-08-21 16:01] Gabriella439 commented on #31
I can remove `wl-pprint`, but I was reasonably certain `ansi-wl-pprint` was the leader in the pretty-print category (both by downloads and general activity).

[2015-08-21 16:02] Gabriella439 commented on #11
Fixed by d96134a4a928aa12145c3b7bb0bd62dac54c92e6

[2015-08-21 16:23] bitemyapp commented on #11
@Gabriel439 thank ye. You didn't include MVar in the list of numbers, was that intentional? Take/put on an MVar is _ludicrously_ fast, on par with most locking mechanisms.

[2015-08-21 16:33] GetContented commented on #34
On the other hand, it's STILL incredibly annoying and difficult to use for a non-expert. Granted, not compared to cabal, but if you compare it to something like brew, npm, leiningen or bundler, it's really not that great to use.

By the way, I think you should improve the definitions of your "levels" at the beginning of the document. "Acceptable for most programmers" doesn't mean as much as "Can b

[2015-08-21 16:45] Gabriella439 commented on #11
Good idea.  I'll add `MVar` numbers, too

[2015-08-21 16:51] GetContented opened #38 "Textbooks to add"
The following are pretty not too bad:

* Thinking Functionally with Haskell - Richard Bird
* Programming in Haskell - Graham Hutton
* The revised report - Simon Peyton Jones, et al (while not a textbook, it's obviously incredibly valuable from a pedagogical perspective)
*  Parallel and Concurrent Programming in Haskell - Simon Marlow

However, they're all quite a bit outdated, and the newer books

[2015-08-21 19:45] ExternalReality opened #39 "Incremental Development"
Hello Gabriel. About the same time that I stumbled upon Haskell I was also being taught the practice of incremental development techniques (TDD and so forth). Haskell's type system in general, partial type signatures, type holes, mature testing, purity, and laziness, make the Haskell experience, IMHO,  "Best In Class" in the  Incremental Development category. Incremental development is a popular t

[2015-08-21 20:18] PierreR commented on #31
Looking at it again, I can see that ekmett is the new maintainer of `ansi-wl-pprint`. That's good because before that it looks pretty much dead. Still there hasn't been much improvement over the last couple of years.

My main peeve is the fact that the package hijacks <$> or <>. I have never really like using it and have the feeling that Haskell deserves something better in this area. There are `w

[2015-08-21 21:18] bitemyapp commented on #11
@Gabriel439 I have numbers for this, but I'd want to revalidate before putting it in your resource. Do you want me to rebenchmark and report or do you already know what's typical?

Edit: https://github.com/jberryman/chan-benchmarks#some-analysis-of-primitive-operations matches my experience.

[2015-08-21 22:42] Gabriella439 commented on #39
Do you have a post I could read on this style of Haskell programming?

[2015-08-21 22:57] Gabriella439 commented on #11
I'll trust you and @jberryman.  So it looks like the 10-20 ns range, then?

[2015-08-21 23:33] Gabriella439 commented on #23
I think it's worth including.  I'll add a link

[2015-08-21 23:37] #23 closed

[2015-08-21 23:40] bitemyapp commented on #11
@Gabriel439 yeppers. Variance within that range usually attributable to clock speed. (2 ghz laptop vs. 4ghz desktop/server)

[2015-08-22 00:29] #38 closed

[2015-08-22 00:30] Gabriella439 commented on #38
So the only thing that I've left out was "Programming in Haskell", mainly because I was concerned that it was a bit too academic

[2015-08-22 01:44] ExternalReality commented on #39
@Gabriel439 No, I don't actually know of an article addressing this head on. However, I can provide some links that taken together present the concept.
- http://www.jamesshore.com/Blog/Red-Green-Refactor.html
- http://codinguncut.com/ocr-text-recognition-data-driven-programming/
- http://matthew.brecknell.net/post/hole-driven-haskell/

The first link is basically the concept and the subsequent lin

[2015-08-22 01:46] GetContented commented on #39
@Gabriel439 If you google TDD, BDD or Hole Driven Development you'll find many references to it. It's very common in OOP circles. Basically, you use the compiler or test runner to tell you what to do next. Personally I don't like it much because it potentially can divorce the coder from being required to have an understanding of what they're doing.

Another way to put this is constraints based pro

[2015-08-22 01:49] GetContented commented on #38
Interesting. I didn't find it to be such.

Is this article primarily for beginners? There's no judgement here on my part, just interest.

Also, I'd probably recommend SICP, even though it's written in Scheme, it's so comprehensive... while perhaps it's too math driven if you're concerned about academia. Personally, though, I don't see how it's possible to be a programmer if you're not prepared to

[2015-08-22 02:13] #10 closed

[2015-08-22 02:19] #11 closed

[2015-08-22 02:24] Gabriella439 commented on #38
I like a mathematical approach to programming (much more than most people), which is why I still included Richard Bird's book.  However, I'm really searching for books that are marketed towards the "blue collar" programming crowd because that's a weak point in Haskell's bookshelf.

[2015-08-22 02:36] Gabriella439 commented on #39
How about this:
- I rename the "Types" section to "Types / Type-driven development"
- I add a paragraph to that section talking about this rough concept and type-holes and partial type signatures

That will at least get the phrase "Type driven development" out there and in people's minds so they can start connecting the dots.  I view this concept as being heavily related to the "Types" section in

[2015-08-22 02:43] #32 closed

[2015-08-22 03:02] GetContented commented on #38
Ah... people who just want to get stuff done.

I think it's a weak point by design of Haskell isn't it? Haskell is for people who want to understand what they're doing and get stuff done, too, no?

[2015-08-22 15:35] ExternalReality commented on #39
@GetContented That was a nice overview indeed.

@Gabriel439 I think your proposal is good! Its only ashamed that many who do value the technique that @GetContented described are scarcely aware that it is a category for which Haskell excels. I think that this  blurb about it will help some. Great!

[2015-08-22 15:51] alanz commented on #39
Just a note: `hspec` is basically a haskell version of Ruby's `spec`, which is a tool all about TDD/BDD

[2015-08-22 17:06] Gabriella439 commented on #39
Alright, here is what I added: https://github.com/Gabriel439/post-rfc/commit/3e433cbbdd514422dc6021a16269125a129b3193

Take a look at that and see if that looks okay

[2015-08-22 18:12] GetContented commented on #39
:+1:

[2015-08-22 18:59] GetContented opened #41 "Hotload Coding"
It'd be good to comment on the state of hotload coding in Haskell.

What do I mean?

I mean something equivalent to figwheel in clojurescript for the browser story, (https://github.com/bhauman/lein-figwheel) or REPL-driven development for the clojure story.

ie http://hackage.haskell.org/package/dyre or maybe http://hackage.haskell.org/package/hotswap tho it seems to have been neglected for about

[2015-08-22 20:03] jpvillaisaza opened #42 "Links to the "Types / Type-driven development" and "Parsing / Pretty-printing" sections don't work"
The ` / ` in the links of the "Types / Type-driven development" and "Parsing / Pretty-printing" sections should be `--` instead of `-`.

[2015-08-22 20:08] jpvillaisaza commented on #39
:+1:

[2015-08-23 20:34] qrilka opened #45 "Shouldn't "Better, faster binary serialization" be also added to "Serialization"?"
As a followup to Faster binary serialization?
I'm referring to https://github.com/meiersi/HaskellerZ/blob/master/meetups/20150529-ZuriHac2015_Duncan_Coutts-Better_Faster_Binary_Serialization/binary.pdf

[2015-08-24 03:02] Gabriella439 commented on #45
So there is a link in there to a similar set of slides.  Are these slides more comprehensive?

[2015-08-24 05:46] qrilka commented on #45
They have much in common but the new ones seems to be more focused on deserialization.
I think it makes sense to have both links

[2015-08-24 14:05] #42 closed

[2015-08-25 02:30] #45 closed

[2015-08-25 03:32] #41 closed

[2015-08-25 03:33] Gabriella439 commented on #39
I'll go ahead and mark this resolved, then.  Feel free to reopen this if you would like to suggest any other changes, though.

[2015-08-25 03:33] #39 closed

[2015-08-26 16:48] agrafix opened #47 "Add 'Spock' to server-side programming libraries"
I'd argue that [Spock](http://hackage.haskell.org/package/Spock) deserves a Spot in the server-side programming libraries, too. It fits well between the "gap" between scotty and the yesod group as it is still pretty simple but provides most features for medium sized applications. It's commercially used in production for over a year now by different companies. What do you think?

[2015-08-26 16:50] Gabriella439 commented on #47
I agree.  #46 will add this and it just needs to fix a typo before I merge it

[2015-08-26 17:33] GetContented commented on #22
With all due respect, @snoyberg it seems the following are not particularly well addressed, which @thkoch2001 brought up more or less:
- environment management (different envs for production, development, staging, testing, etc.)
- REPL access in production with live code so DB data can be manipulated remotely
- sharing code between client and backend
- Something like enlive, hiccup, reagent and fr

[2015-08-26 17:40] GetContented commented on #22
@agrafix replied to a question I had on the spock issue tracker a while back which related to and replicates a lot of these questions, with the following:
- Transit: https://github.com/jstepien/transit
- Memcached client: https://hackage.haskell.org/package/memcache
- Database handeling: https://hackage.haskell.org/package/persistent
- Templating: https://hackage.haskell.org/package/blaze-html htt

[2015-08-26 17:49] snoyberg commented on #22
I'm not going to respond to that list here. If your question is "how do I
do X in Haskell/Yesod," people on the mailing lists- myself included- will
be happy to provide guidance. But at this point, the discussion seems to be
"prove that Yesod answers these questions the way I want it to," which is a
discussion I'm not interested in.

On Wed, Aug 26, 2015, 8:33 PM www.getcontented.com.au <
notifica

[2015-08-26 17:49] Gabriella439 commented on #22
Some of these I know the answers to.  I'll give a more detailed summary of what I know (and update the document, too) later today

[2015-08-26 17:56] snoyberg commented on #22
Gabriel: feel free to ask me questions while doing so. I'm happy to get the
information out there, just less enthusiastic about, for example, arguing
about the definition of built in support for production vs staging
configurations.

On Wed, Aug 26, 2015, 8:50 PM Gabriel Gonzalez notifications@github.com
wrote:

[2015-08-26 17:56] GetContented commented on #22
@snoyberg hehe :) Sorry if I came across in a way that bothered you! :) You're free, of course, to do whatever you'd like.

I was working under the impression that the document that @Gabriel439 is attempting to build was a way to explain to everyone who cares to know, just what the current state of Haskell is: especially beginners, and non-Haskellers. I think this is sorely needed in the Haskell c

[2015-08-26 18:02] GetContented commented on #22
@snoyberg I wonder if it's possible to use Yesod's environment features with Scotty... or other web servers... in the clojure ecosystem, it's entirely possible to do this, for example, because things are built as composible blocks. I'd consider that composiblilty incredibly useful and "best of breed" (and from my novice understanding, more in line with the Haskell way of doing things). All good th

[2015-08-26 18:08] GetContented commented on #22
BEAM looks pretty cool as an alternative to TH based libraries. Not sure if it's the best tho. https://github.com/tathougies/beam

http://travis.athougies.net/posts/2015-01-12-beam-typesafe-haskell-database-interface.html

[2015-08-26 18:23] snoyberg commented on #22
The reason I read your comment as not actually looking for how Haskell does things us because some of the points in your list are obviously covered by existing libraries. For example, csrf support is first class in Yesod.

For the specific case of environments, the Yesod scaffolding has the ability for both environment variable overrides- which is what I use in practice- and fallback config files

[2015-08-26 19:59] agrafix commented on #47
Great :-)

[2015-08-26 20:00] Gabriella439 commented on #47
Fixed by #46

[2015-08-26 20:00] #47 closed

[2015-08-27 01:39] GetContented commented on #22
Thanks @snoyberg ... what we're looking to do here, though, is to explain how the points in the list are "obviously covered by existing libraries", and to what degree there is coverage. To explain it.

You bring CSRF protection up, but the only time that is mentioned in the document is in reference to Spock. _You_ know CSRF protection is first class in Yesod. And, yes, _I_ know it's there, also, b

[2015-08-27 02:48] Gabriella439 commented on #22
I agree with @GetContented that this is an information gathering exercise.  Yes, it is time consuming and exhausting but it greatly benefits people who prefer to learn in isolation without having to reach out to others for assistance on mailing lists or chat channels (like myself).

Here are the answers to some of the questions that @GetContented raised, either from answers within this thread or f

[2015-08-27 03:55] GetContented commented on #22
@Gabriel439

Thanks, all of that should go into the document, I guess! :)

The environment or profile usually manages the database name, can choose different database backiends, which libraries are included, and how they're configured. It's not very simple.

REPL access in production is usually about being able to fix incorrect data, or adjust stuff that there isn't an API to do so with the web ap

[2015-08-27 04:19] chrisdone commented on #22
I think @GetContented's approach is somewhat like [this](http://bash.org/?152037). ;-)

[2015-08-27 04:21] Gabriella439 commented on #22
@GetContented I just want to point out that you are evaluating Haskell on the basis of whether or not it has the exact feature set that Clojure has, and by definition that sort of comparison always favor Clojure over every other language.  This is the famous [Blub paradox](http://paulgraham.com/avg.html) fallacy.

You are neglecting that Haskell has some killer features of its own that Clojure doe

[2015-08-27 05:43] GetContented commented on #22
@chrisdone not really :) I'm not trying to get help here. I'm pointing out what it's like to be a beginner coming from other languages. That's it.

@Gabriel439 Perhaps you misunderstand me. I prefer Haskell. Also, I'm not singling out Clojure here to explain where Haskell is missing things. I go out of my way to use LOTS of other languages.  However, if you want to explain the state of the union,

[2015-08-27 13:58] Gabriella439 commented on #22
Sorry, I misunderstood, then!  I appreciate the time you take to discuss this :)

I think I have a lot of material for expanding the server-side programming section.  I will take a stab at adding what we've discussed here and see what people think

[2015-08-27 14:07] GetContented commented on #22
Don't worry about it. I often come across in ways that I don't intend to, so if anyone should be apologising, it should be me. I'm sorry for my manner. I can be too kurt. It's not a good thing, but it's the way I usually communicate unless I remember and make an effort to be more considerate and thoughtful about other perspectives.

Glad to be of help! (and by the way, this is an EXCELLENT thing y

[2015-08-27 14:28] snoyberg commented on #22
@GetContented In case it's useful for furthering communication, the line that I think caused some confusion (at least for myself) was:

If what you're actually saying is "as a beginner I don't see a single document describing how all of these are addressed," I would have understood that better with a question such as:

I still would probably have pointed you to the mailing list for that, but it wo

[2015-09-01 02:49] Gabriella439 commented on #22
I'm going to go ahead and post what I have since it's the last day of August (and I wanted to get this out by the end of the month).  I will still expand this section later and announce this on my blog at least once a year.

[2015-09-01 03:00] GetContented commented on #22
I can't speak for anyone else, but I'm pretty happy if this issue is closed.

[2015-09-01 04:02] Gabriel439 opened #50 "Check out `gtk3`"
Charles Durham ([@ratzes](https://twitter.com/ratzes)) reported that the `gtk3` package was more mature and easier to use than `gtk`.  This is just a reminder to myself to check it out more deeply when I have time

[2015-09-01 11:13] juhp commented on #50
gtk3 obsoleted gtk2 years ago: it took Haskell ages to catch up. All new Haskell apps should definitely use `gtk3` not `gtk`. :)

[2015-09-04 08:39] killerswan opened #56 "Front-end web programming: mention templating"
Another area for improvement, IMHO:
* Haskell tools tend to focus on building HTML pages _without writing HTML_.  That's cool, but not appropriate for everyone.  Projects to watch: [Hastache](https://github.com/lymar/hastache) for Mustache templates (fairly mature), and @sourrust's [Karver](https://github.com/sourrust/karver) (inspired by Jinja) which finally provides some whole-page HTML templati

[2015-09-04 15:22] Gabriella439 commented on #56
Yeah, I will definitely add `Hastache` / `Karver`.  I also want to mention `lucid` if you haven't checked it out already (it's an in-language DSL for building HTML).

[2015-09-04 15:54] GetContented opened #57 "Databases: RDF / Triplestores"
Just wondering if you'd consider mentioning something about Haskell support for these database types.

[2015-09-04 16:02] Gabriella439 commented on #57
I don't know anything about RDF or Triplestores.  Do you have any material I should read to learn more?

[2015-09-04 16:07] GetContented commented on #57
Mostly I'm interested in the "state of the union" on non-SQL (ie graph) databases and connectivity to these DBs from Haskell. I also don't know much about this area. It just seems that SQL is quite represented, but other database types aren't.

[2015-09-04 16:18] GetContented commented on #57
If you don't know much about this, chances are there won't be much interest in it, so I'll close this for now.

[2015-09-04 16:18] #57 closed

[2015-09-07 17:04] Gabriella439 commented on #22
I'm leaving it open to remind myself to add some points from this discussion to the Server programming section

[2015-09-07 18:18] #56 closed

[2015-09-25 21:28] Gabriel439 opened #59 "Mention the `megaparsec` library under Parsers"
Possibly replace `parsec`?

[2015-12-17 06:22] bitemyapp opened #62 ""parsers" might could be mentioned side-by-side with Trifecta"
http://hackage.haskell.org/package/parsers

And possibly deserves more prominent billing. I'm not aware of an equivalent in any other ecosystem where you can write a parser once, have a super-nice parser with informative errors for development, then flip a type, and get a fast parser for production.

[2015-12-20 03:31] #62 closed

[2016-01-17 13:07] mrkkrp commented on #59
It would be good if we could just mention it in “Parsing / Pretty-printing” section. I could prepare a PR if you don't mind. Although I honestly don't see how Parsec can be preferred to Megaparsec now, the library is kinda “famous” and cannot be just replaced (at least not without explanation).

[2016-01-17 16:36] Gabriella439 commented on #59
Yes, please prepare a pull request, but still keep `parsec` in the list.  My main reservation about `megaparsec` is that I hit a non-termination bug the last time I used the library so I'm hesitant to recommend it completely over `parsec`.

[2016-01-17 17:38] mrkkrp commented on #59
Can you describe how to reproduce that bug? Can you open an issue?

[2016-01-17 17:39] Gabriella439 commented on #59
Unfortunately, I don't have the reproducing code any longer.  It was a while ago

[2016-01-17 17:44] mrkkrp commented on #59
I know of at least one case when people switched from Parsec to Megaparsec in commercial environment and feedback was very positive. It's sad that you don't have reproducing code :-(

[2016-01-17 17:58] Gabriella439 commented on #59
I think it's fine if the pull request says something like "`megaparsec` is a modern and improved version of `parsec`" but still keep the reference to `parsec` just so that if people have any issues they know that they can fall back on `parsec`.

[2016-01-18 17:45] #59 closed

[2016-01-26 18:47] GetContented opened #64 "http://happylearnhaskelltutorial.com"
I wonder if you'd consider adding this resource (and maybe mentioning on your blog, too!)

:)

[2016-01-26 20:39] Gabriella439 commented on #64
The URL is currently broken for some reason

[2016-01-27 00:19] GetContented commented on #64
Sorry it needs wwws. http://www.happylearnhaskelltutorial.com

It's supposed to redirect from http://happylearnhaskelltutorial.com but it isn't. I'll look at fixing that.

[2016-01-27 00:34] GetContented commented on #64
Ok the DNS redirecting is fixed now as well. :)

[2016-01-31 02:19] Gabriella439 commented on #64
I'm still reluctant to add this, mainly because I feel that it's not a "best in class" resource.  I feel like the "Haskell Programming from first principles" book and the "Haskell wikibook" are probably better alternatives.

[2016-01-31 03:23] GetContented commented on #64
My understanding of the SOTU is that it's "the current state of play" not just "best in class".

Which other guides are there with a similar philosophy? for the absolute beginner that explain the basics with the aide of pictures and that break things down into a reading phase before a writing phase?

You could probably site LYAH, except that it isn't for the absolute beginner. Its examples are sma

[2016-02-01 21:03] soupi commented on #1
It might be a good idea to add [gpipe](http://hackage.haskell.org/package/GPipe) to the game programming list to increase discoverability. It also has a [tutorial series](http://tobbebex.blogspot.se/2015/09/gpu-programming-in-haskell-using-gpipe.html) and [an interesting example](https://github.com/csabahruska/gpipe-quake3).

[2016-02-01 22:55] Gabriella439 commented on #64
Sorry for the delay in answering.  I may still add it, but I just need more time to think about this.  I've just been busy with paternity leave :)

[2016-02-02 03:01] GetContented commented on #1
and gloss! http://gloss.ouroborus.net https://hackage.haskell.org/package/gloss

[2016-02-02 03:15] GetContented commented on #64
No problem! We're very much interested in improving it. So far you're one of two people who have told us it's not great, but not explained how. This is fine and all, but it doesn't let us improve it very easily. (There are quite a few improvements we'd like to do and obviously it's Vol 1 in a series, but we can't continue to write more without more of the community purchasing it, so it's been inte

[2016-02-03 05:09] Gabriella439 commented on #64
There are some good parts, but I will focus on the bad parts if that's alright in order to provide constructive criticism:
- The writing needs a lot more editing to tighten up the prose
- The lack of organization or continuity.  I can never really anticipate where the text will go next as I read
- Visual design issues, particularly: weird navigation buttons, ugly font, non-fixed-width code in text

[2016-02-03 13:19] GetContented commented on #64
Lots of good points, Gabriel. Thanks! We're well aware of most of them.

All the feedback from beginners we've received has been them saying that they've really enjoyed it, so there you go! :)

[2016-02-03 15:29] Gabriella439 commented on #64
Alright, then I will go ahead and close this, then, but if you would like me to revisit this later then reopen the issue.

[2016-02-03 15:29] #64 closed

[2016-02-06 11:03] Osager opened #66 "Please add Image processing"
Hello
First of all thanks for making this status review.

I suggest to add a section on image processing.
Notable libraries includes: friday, JuicyPixels etc
But i can not judge the maturity of them.

Best regards

[2016-02-08 03:53] Gabriella439 commented on #66
So I can judge library quality pretty easily, but I don't know a whole lot about image processing.  The main thing I need to know is what one would expect from a mature image processing toolkit in other languages

[2016-02-13 16:58] Gabriella439 commented on #1
Alright, I overhauled the game programming section a bit.  The main changes were:
- I added `gloss`
- I added `GPipe`
- I reworked the description to give several examples of games that Haskell was and was not suitable for
- I removed `helm` (since it seems abandoned)
- I removed the mention of Keera studios since they seem to have become inactive

[2016-02-13 17:09] GetContented commented on #1
@Gabriel439 Your comments about Elise's talk is interesting - it reminds me that it's very unclear what the purpose of this document is. Is it only for complete beginners, or is it state of the union? Elise's talk and book are not for Haskell beginners.

Also, by the way, not too sure why you say Keera studios has become inactive. Their twitter was posted to a month ago.

[2016-02-13 18:33] Gabriella439 commented on #1
The document is supposed to be opinionated, but not necessarily for beginners

[2016-02-13 22:54] GetContented commented on #1
@Gabriel439 That's what I'd thought... however, Elise's talk is good for intermediate Haskeller's wanting to do Game stuff, isn't it? My experience was that it was high quality. I guess this is up to your opinion ;-) (which is the point).

Perhaps it needs to be clearer that this document is primarily your opinion. As it stands, it reads a little like it has no bias and is simply an objective comm

[2016-02-21 12:07] Stratege commented on #1
Out of curiosity, on what data is the list of what sort of games are easy and which are hard in Haskell based? The list of genres that are supposedly difficult or easy appears to be slightly peculiar (primarily that RTS is judged as hard while FPS as easy).

Further is there any evidence to Haskell's GC being a problem? Considering that the very popular Unity Game Engine has the complete game spec

[2016-02-21 16:23] Gabriella439 commented on #1
Some of those I do have data on and others I don't and just made an educated guess.  The ones I know for sure are:
- FPS - Frag
- Platform / side-scrolling games - Nikki and the robots
- Casual games - Basically everything Keera Studios makes
- Turn-based strategy - various Haskell implementations of chess

The other games I don't have data on but for some I could easily extrapolate:
- Adventure g

[2016-02-21 21:30] Dierk opened #70 "Please add FregeFX for desktop user interfaces"
FregeFX is a Frege (Haskell for the JVM) language binding for JavaFX, the desktop UI toolkit for Java.

[2016-02-21 21:45] Dierk commented on #70
Link: https://github.com/Frege/FregeFX

[2016-02-22 21:37] Gabriel439 opened #72 "Add Front-Row education to Server-side programming"
This is just a reminder to myself

[2016-02-23 04:56] #70 closed

[2016-03-03 04:58] alexanderkjeldaas commented on #34
I don't get this criticism.  `stack install foo` is as painless as `brew`.  `npm` is guaranteed to install something that breaks down the line, unlike `stack`. I haven't used leiningen or bundler.

[2016-04-22 19:13] GetContented opened #80 "Type-Driven Development Section"
This section has quite a few issues. One in particular stands out, which is this:

This is not true. Perhaps one could modify it to say that types can prove the complete absence of type errors, but "programming errors" implies logical errors, too, which type checking can't detect. (IMHO).

[2016-04-22 19:50] Gabriella439 commented on #80
Yeah, I should clarify by saying something like "absence of programming errors that you can encode in the type system"

[2016-04-22 19:53] GetContented commented on #80
how about "prove the complete absense of runtime type errors for all possible cases, whereas tests cannot examine every possibility" ?

[2016-04-25 00:40] #80 closed

[2016-05-06 04:26] m-renaud opened #81 "ARM support significantly more stable as of GHC 8.0.1"
GHC 8.0.1 fixes the "ARM is generally a disaster" bug (https://ghc.haskell.org/trac/ghc/ticket/11206). This doesn't address all of the issues that you mention but it's a huge step forward. Not sure if it brings it into the "Mature" category but at least into "Borderline Mature". What do you think?

[2016-05-07 04:13] Gabriella439 commented on #81
Generally I know nothing about development on ARM, but I'll accept any pull request from somebody who has gotten GHC working on ARM.  I don't feel comfortable writing it up myself because I don't have an ARM platform to test on

[2016-06-25 05:14] mitochon opened #83 "Haskell bindings for R and Spark"
There is a library for writing Spark applications in Haskell (still beta per the site README)
 * [Sparkle](https://github.com/tweag/sparkle)

There's also a library for mixing in R and Haskell code
* [HaskellR](http://tweag.github.io/HaskellR/)

Disclaimer:
* I am not associated with tweag.io
* I haven't tried the above libraries and - as a Haskell noob - nor do I have the skills to evaluate them

[2016-08-22 01:45] #83 closed

[2016-09-25 21:37] basvandijk opened #86 "OpenCV-3.1 bindings in the making"
I would like to propose adding a reference to our OpenCV-3.1 binding to the Computer Vision section. The library is not complete nor released to hackage yet. However it's already very usable and used in production. See:

https://github.com/LumiGuide/haskell-opencv

[2016-09-29 01:27] Gabriella439 commented on #86
I did an initial pass over the Computer Vision section to add information on LumiGuide and `haskell-opencv` here:

https://github.com/Gabriel439/post-rfc/commit/7646bb5431bfddfa2e6ce1b35ba3e1245e782398

Feel free to submit a pull request if you would like to make any other changes or advertise LumiGuide more! :)

[2016-11-05 17:30] adamhammes opened #88 "Broken link in State of the Haskell Ecosystem"
The link in `sotu.md` with the text of

[code]

leads to a 404 page.

[2016-11-10 15:54] jeffreyrosenbluth opened #92 "Please add a section on Random Number generators"

[2016-11-12 23:32] GetContented commented on #92
@jeffreyrosenbluth You'd like to know Haskell's suitability for random number generation? Haskell is a general purpose programming language, so it's perfectly suited for random number generation, as most languages are. What specifically are you interested in seeing in the SOTU? There is already a reasonable set of articles available if you do a quick google search, some of high quality, such as: h

[2016-11-13 01:55] Gabriella439 commented on #92
@GetContented: The same could be said of other sections in this tutorial (like benchmarking and logging)

My rule of thumb so far for whether or not to include it is if I believe there might be some widespread perception that Haskell wouldn't have adequate support for such functionality.  In this case I perceive random number generation as something that most people would take for granted as suppo

[2016-11-13 01:58] GetContented commented on #92
@Gabriel439 Exactly.

[2016-11-20 00:18] #88 closed

[2016-11-22 16:59] brezal opened #96 "Machine Learning libraries"
This library wasn't inlcuded in the machine learning section: https://github.com/tensorflow/haskell

[2016-11-22 17:03] brezal commented on #96
Also, https://hackage.haskell.org/package/hslibsvm and https://hackage.haskell.org/package/HSvm (these haven't been updated since 2009) were mentioned in this stackoverflow question: https://stackoverflow.com/questions/2268885/machine-learning-in-ocaml-or-haskell

[2016-11-30 16:58] Gabriella439 commented on #96
@brezal: Have you used any of these libraries before?  The main reason that I'm asking is that I would like for at least one person to vouch for a library before including it in the list (and I've never used any of these myself)

[2016-11-30 20:07] silky commented on #96
i've used tensorflow haskell

it's got potential, but it's immature at the moment in my opinion. compared to the python api, there is a fair chunk of functionality that is missing.

in a few months it should be much improved.

[2016-12-01 23:30] cdupont commented on #34
stack is quite mature and used, I think this can be closed...

[2016-12-01 23:41] cdupont opened #97 "ratings"
Hi,
congratulations for this work. I have a small issue with the ratings: "Best in class" and "Bad" seem to express a judgment on value, while the two others are about maturity. For example some domain could be seen as mature (i.e. well tooled, nothing to do more) but "bad" because Haskell is simply no good at that (e.g. embedded).
Another suggestion: swap "Application Domains" and "Programming Ne

[2016-12-02 08:36] Blaisorblade commented on #34
It makes sense to agree to disagree at this point. Closing.

[2016-12-02 08:36] #34 closed

[2016-12-02 08:47] GetContented commented on #34
The definition "mature" is here used to mean a quality level not a time duration.

[2016-12-02 17:30] Gabriella439 commented on #97
I'm definitely keeping Application Domains at the top because it's more relevant to most people reading the document.  People will forgive deficiencies if you're honest and open about them.  It also highlights where the community has room for improvement and has galvanized people to contribute in those areas (such as Data Science, which is a really active area recently)

Generally, maturity tends

[2016-12-29 06:24] brezal commented on #96
@Gabriel439 I haven't used these libraries yet. There is also https://github.com/HuwCampbell/grenade which was referenced in http://www.stephendiehl.com/posts/haskell_2017.html

Thanks for the information. I'll close the issue and reopen if there are updates regarding any of these libraries.

[2016-12-29 06:24] #96 closed

[2017-01-09 03:44] currymj opened #98 "Some more stuff for machine learning"
I think there are some additional promising libraries in the area of machine learning.

- Most exciting from a propaganda perspective, there are Haskell bindings for Tensorflow. The library is hosted by the tensorflow organization but states that it is unofficial. It seems like it might be someone's 20% project.
- The `ad` library for automatic differentiation is arguably best-in-class. Computing

[2017-01-12 03:21] sjakobi opened #99 "Add a subsection on code formatting tools like hindent and stylish-haskell"
I think automatic code formatting is a "common programming need", so I think it deserves its own subsection.

For the rating, I'd say it's currently immature at best – stylish-haskellish AFAIK doesn't reformat code blocks apart from alignment, hindent is buggy and has questionable style choices.

[2017-01-22 09:42] cphang99 opened #101 "Convert to wiki format"
Hi

This is a great resource. I'm very new to Haskell, and so I really value seeing what's 'best-in-class' for a particular use case or application domain, and learning more in general about the general libraries.

Would you be interested in converting this to a wiki format for better browsing in and out of the categories? This is something I can do in a PR, if there is interest.

[2017-01-22 16:38] Gabriella439 commented on #101
Yeah, definitely!  I hadn't realized that was an option

[2017-01-22 19:29] Gabriella439 commented on #98
I added `tensorflow`, `ad` and `grenade` to the machine learning section in 3ad4a723caf3d14bc915b414e2893724be1cbde5

I left out `neural` and `monad-bayes` for now since they seemed to be lower quality than `grenade`, but I'll keep this issue open to remind myself to revisit them later on

[2017-01-26 19:33] Gabriella439 commented on #99
So I conducted an informal twitter poll about `hindent` here:

https://twitter.com/GabrielG439/status/823252348508073984

... and the consensus seems to be that it is okay, so I might end up giving a "Mature" rating and then if I'm wrong I'll let people yell at me and tell me why it's not mature :)

How does that sound?

[2017-01-27 13:53] sjakobi commented on #99
Hey, thanks for making that poll!

I disagree with the rating of course – hindent is simply too [buggy](https://github.com/chrisdone/hindent/issues?q=is%3Aissue+is%3Aopen+label%3A%22type%3A+bug%22) at this time.

Still a good plan! Thanks for taking such great care of this document!

[2017-01-27 18:27] sjakobi commented on #99
Oh, I think I missed that you define "mature" as "suitable for most programmers". In that sense, it's probably the right label – hindent is useful to format individual code blocks after all. But one cannot use it blindly on entires files with the expectation that the output will be well-formatted and non-broken, which IMO should be the goal for a code formatting tool.

[2017-01-29 19:34] #99 closed

[2017-01-29 19:40] sjakobi commented on #99
Thanks, https://github.com/Gabriel439/post-rfc/commit/802de541494d2c406b39324c90a1028a6edb1387 is a good starting point!

[2017-01-29 19:40] Gabriella439 commented on #99
You're welcome!

[2017-03-23 16:17] Akii opened #106 "The book "Haskell programming from first principles" has been published"
This section says it needs changing once the book is out:
https://github.com/Gabriel439/post-rfc/blob/master/sotu.md#education

[2017-03-25 04:16] Gabriella439 commented on #106
I'm waiting for the hardcopy to be available and then I'll mark that complete

[2017-03-26 11:42] chshersh commented on #101
@cphang99 Maybe you can even use [`gitit`](https://github.com/jgm/gitit) wiki engine written in _Haskell_ to create standalone wiki for this.

[2017-06-25 10:35] limick opened #108 "Explain Haskell/Java performance comparison"
`Haskell's performance is excellent and currently comparable to Java. Both languages give roughly the same performance in beginner or expert hands, although for different reasons.`

I have a hard time understanding what this means. Would you mind explaining why this is the case, i.e. listing the reasons?

[2017-06-28 18:02] Gabriella439 commented on #108
I will explain my reasoning.  Note that I know much more about Haskell performance than Java performance and there is a good chance that anything I say about Java is incorrect, so please correct me.

Here is my understanding of the pitfalls that affect beginners in each language:

* For Haskell the pitfalls that most commonly affect beginners are:
    * Poor defaults for data structures in the sta

[2017-06-28 21:04] JulianLeviston commented on #108
@Gabriel439 this is a pretty nice beginning of a summary, and it'd be nice if it was either in the SOTU, or referenced from it somehow (blog post?)

[2017-06-28 21:11] limick commented on #108
That's a great answer and I agree that it deserves to be published somewhere.
In the meantime, I would maybe amend that second sentence to something like

[2017-06-29 04:52] JulianLeviston commented on #108
Personally I think the way it's written is fine as is.

[2017-07-02 08:38] limick commented on #108
I found that sentence hard to parse, and I think it wouldn't hurt to spell things out a bit, but all in all it's a very minor issue.
If more people have trouble understanding, the issue will come up again.

[2017-07-02 08:38] #108 closed

[2017-07-04 01:27] JulianLeviston commented on #108
@limick I'm still very interested in how it was hard to parse. (Language, understanding and learning are my absolute favourite topics, and this hits all three.)

[2017-07-04 16:38] limick commented on #108
@JulianLeviston I had two issues with the sentence:

1. Grammatically speaking, I think it could be interpreted as "performance of Java in beginner hands == performance of Java in expert hands" (and same for Haskell). Of course it doesn't take a genius to figure out that these statements are not true, and therefore that's not the intended meaning, but I think such an ambiguous sentence structure s

[2017-07-05 04:58] JulianLeviston commented on #108
That's a really cool answer. Thank you very much! I agree.

[2017-09-10 19:28] newswim opened #110 "Consider adding Postgrest to server-side or DB section"
[Postgrest](https://github.com/begriffs/postgrest) is a service that uses its own stack of popular libraries to generate a REST API that reflects a Postgres schema.

I rarely get to work with Haskell but I am using a GraphQL project ([link](https://www.graphile.org/)) which was _heavily_ inspired by the Postgrest project and it stands out as an extremely useful service for small teams that want to

[2017-09-15 17:21] Gabriella439 commented on #110
Sorry for the delay.  How about mentioning `postgrest` in the "Server-side programming" section underneath a new subsection for useful server-tools written in Haskell?

[2017-09-15 17:41] Gabriel439 commented on #110
Sorry for the delay.  How about mentioning `postgrest` in the "Server-side programming" section underneath a new subsection for useful server-tools written in Haskell?

[2017-09-17 16:41] #110 closed

[2017-09-17 16:42] Gabriella439 commented on #110
Fixed by 281dae5d2d578eb33162700dc843fac97d876633

[2017-09-17 17:18] newswim commented on #110
Cool! Thanks Gabe :)

[2017-09-17 17:22] Gabriella439 commented on #110
You're welcome! :)

[2017-09-20 18:07] newswim opened #111 "Add "Podcasts" section"
There are not many Haskell-specific podcasts that are currently airing new episodes, however there are quite a few dedicated to the larger FP community. I wonder if there is interest in adding these? Here are some candidates . .

### Haskell-only
- [The Haskell Cast](http://www.haskellcast.com/)

### Non-Haskell, but FP, CT, ST, TT, NLP, etc.
- [Type Theory Podcast](http://typetheorypodcast.com/)

[2017-09-23 23:20] Gabriella439 commented on #111
I think I'd prefer to link to podcast episodes related to specific topics from the tutorial.  If you have any episodes you'd like to highlight we can add them

[2017-11-24 13:55] unhammer commented on #50
There is also https://github.com/haskell-gi/haskell-gi (as featured in https://lettier.github.io/posts/2016-08-15-making-movie-monad.html )

[2017-12-03 16:42] theindigamer opened #119 "Add more languages?"
Under "Some compilers written in Haskell", maybe mark [oden](https://github.com/oden-lang/oden) as "(no longer in active development)" and add

1. [Verve](https://github.com/tadeuzagallo/verve-lang)
2. [Sixten](https://github.com/ollef/sixten) (disclaimer: I'm a minor contributor.)

both of which seem to be more developed than oden.

[2017-12-04 19:00] #119 closed

[2018-01-19 04:15] Gabriella439 commented on #31
At this point the `prettyprinter` library is the best-in-class Haskell package here.  Marking this as "good first issue" to update the post

[2018-01-23 13:48] PierreR commented on #31
On the other hand `prettyprinter` is not used wildly (yet):
https://packdeps.haskellers.com/reverse/prettyprinter

As an aside I was about to migrate from `ansi-wl-pprint` to `prettyprinter` .I have lot's of  `Pretty` instance declarations that assumes color (an `AnsiStyle` annotation). I guess it is just not possible with `prettyprinter`to assume color in instance declaration ?

So for instance:

[2018-01-27 20:40] nponeccop commented on #50
GTK and GTK3 are both deprecated by haskell-gi, see #123

[2018-01-27 20:41] Gabriella439 commented on #50
I'll go ahead and close this, then.  #123 fixes this issue

[2018-01-27 20:41] #50 closed

[2018-01-27 21:00] varosi opened #125 "One more debugger with break-points"
Phoityne for Visual Studio Code
https://marketplace.visualstudio.com/items?itemName=phoityne.phoityne-vscode

It has lot of debugging features and works via GHCi.

[2018-01-27 21:20] nponeccop commented on #31
There is also a bias there:
- you can prettyprint as long as it fits the Wadler-Leijen algorithm (e.g. you can't emulate `/bin/column -t` with pretty printers which is pretty annoying for newbies)
- you can parse as long as it's top down parsing - the supply of bottom-up parsers is pretty limited

[2018-01-27 22:29] nponeccop opened #127 "Generic programming is missing"

[2018-01-27 23:09] JulianLeviston opened #128 "Education Resources lacks intermediate or advanced material"
While it's obvious to focus on beginners in this section, the intermediate and advanced material is somewhat lacking. There are numerous papers that are useful in this regard, and it'd be great if there was some guidance on discovering papers, blog posts and other more advanced material too (like... start with these papers, then look in their reference sections and bibliographies for more papers,

[2018-01-27 23:57] nponeccop commented on #128
Regarding advanced topics:

- At some point (I think at the early 2000s) there were dozens of books on object oriented modeling and design. There are no books on design of large-scale functional programs.
- We need an extended version of Typeclassopedia
- We need a kmettopedia as well (and mcbridopedia, gonzalespedia and snoymanpedia to less extent)

In general, we still need a high level overview

[2018-01-28 01:19] Gabriella439 commented on #128
Note that the main purpose of this document is mainly for people new to Haskell to assess its suitability for an upcoming project they are contemplating

I do think there should be a collection of educational resources spanning multiple skill levels, but I'm not sure if this document is the best place to organize that information

[2018-01-28 09:02] JulianLeviston commented on #128
That's fair enough, but that's not what the introduction says that it's for... maybe we might need to amend it?

[2018-01-28 15:44] Gabriella439 commented on #128
I think the introduction is accurate:

[2018-01-28 19:41] nponeccop commented on #128
I think #129 and noob-friendly installation instruction in general are out of scope too.

[2018-01-28 20:59] Gabriella439 commented on #128
Yeah, that's a good point.  On more reflection there probably shouldn't be that level of detail for setting up Windows

[2018-01-28 22:38] nponeccop opened #131 "Add "Community and Help" section"
- How do I find a library?
- How do I find a solution?
- How do I find the most idiomatic way to solve this problem in Haskell?

- There are numerous blogs with new ideas (Comonad Reader etc)
- There are many user groups in different languages in IRC, Gitter, Telegram, Facebook - you name it.
- StackOverflow has 3 useful sites for a Haskeller: StackOverflow, CodeReview and ComputerScience (and wha

[2018-01-29 02:00] Gabriella439 commented on #131
Yeah, I think this is a good idea.  I think another useful thing would be some rough rules of thumb for evaluating library quality (i.e. number of downloads, documentation quality)

[2018-01-29 04:53] adrian-gierakowski opened #132 "Add 'streaming' to the Stream programming section"
https://hackage.haskell.org/package/streaming
https://github.com/haskell-streaming

Tutorials mentioning streaming along pipes and conduit:
https://www.tweag.io/posts/2017-07-27-streaming-programs.html
https://www.tweag.io/posts/2017-10-05-streaming2.html
https://www.tweag.io/posts/2017-11-01-streaming-and-foldl.html

[2018-01-29 11:21] JulianLeviston commented on #128
I don't think this is mentioned anywhere in the document. That's okay, though :) I'll close this.

[2018-01-29 11:21] #128 closed

[2018-01-29 17:29] Gabriella439 commented on #132
Yeah, I think `streaming` is a great library (I'm a little biased, though, since it's inspired by `pipes-group`)

Would you like to submit a pull request to add it?  If not, I can get to this soon, too

[2018-01-30 23:33] nponeccop opened #133 "Add "Vertical Scalability" section"
I don't know what is the right name for it, but currently there's no data in SOTU on Haskell performance on larger and more stressed servers. For example:

- GC performance on large heaps and strange allocation patterns (e.g. all data are essentially static, or the younger generation is large etc) compared to some 4 allocators of JVM
- performance on many-core (some 40+) machines which tend to be

[2018-01-30 23:40] Gabriella439 commented on #133
This is an excellent topic choice since this has a huge impact on Haskell's suitability in several corporate environments.  Were you interested in writing this up?  If not, I can also speak to this a little bit myself

[2018-01-30 23:46] nponeccop commented on #133
exactly

I'm rather interested in reading it to evaluate suitability of Haskell for my corporate needs :) Currently we use ancient legacy of Perl and C++ with some 32GB of mostly static heaps (because neither has GC and everybody in the house hate Java irrationally). And things like external sorting tend to require low-level features to avoid disk cache pollution etc.

[2018-01-30 23:55] Gabriella439 commented on #133
Alright, I'll dump some unassorted notes of mines soon (most likely tomorrow morning) for you to look over and then based on your feedback I'll write it up into a new section

[2018-01-31 01:34] nponeccop commented on #133
You can use this issue as a draft.

[2018-01-31 19:13] Gabriella439 commented on #133
First off, here are some notes from @j6carey, who has done a lot of performance work on our internal network protocol parser (a process with a large heap that consumes a high rate of network traffic):

[2018-01-31 19:46] Gabriella439 commented on #133
My first draft of notes:

* Space leaks are the biggest source of instability for Haskell services in general
* Space leaks can be an even greater problem when you work with data in large blocks.  For example, we process packet blocks that are (I think) at least 128 MB large so if you have a single dangling reference to that block it doesn't get freed, but for performance reasons you don't want to

[2018-01-31 20:23] j6carey commented on #133
One more thing:

If your parsers suspend pending further input, then beware of making them monadic, as doing so may lead to space leaks.  Consider:
[code]
In the rather likely event that `parseBytes` suspends, the thunks for the two components of `header :: (Int, Int)` are hidden inside that suspension, with no way to evaluate them or to measure their sizes.  Probably they still refer to large `By

[2018-02-01 21:20] #132 closed

[2018-02-01 21:31] adrian-gierakowski commented on #132
@Gabriel439 thank you for taking care of this and apologies for not submitting a PR but I had a busy week at work and at home :)

[2018-02-01 22:05] Gabriella439 commented on #132
You're welcome!  No problem :)

[2018-02-03 04:42] Gabriella439 commented on #133
@nponeccop: Did the initial notes answer your questions or do you still have remaining questions?

[2018-02-03 18:08] nponeccop commented on #133
They answer a different question: "What knobs are available to tune GHC on large machines"

And I'd like to see "where tuned GHC stands compared to tuned Java on large machines". The knobs info is usable, but not in the `sotu` document. A link in "Educational resources" section is better.

Below is my version of the "first draft":

## Vertical scalability

This chapter covers single-server GHC per

[2018-02-03 21:28] Gabriella439 commented on #133
What is this based on?  I'm pretty sure GHC's concurrency runtime and garbage collection will scale past 4 cores.  I could be wrong, though, because I haven't formally benchmarked this or studied this recently.

I think it's important to clarify here that "blocking" means that it only blocks the current green thread, not the underlying OS thread or the runtime

Also, one thing that needs to be hig

[2018-02-04 17:33] nponeccop commented on #133
My assumption was based on this quote:

Remember, I don't know what I'm talking about. It's just the type of things I'd like to see correctly described in the document (but without turning the document into a tutorial)

The API visible to end-users is blocking and threads. It's what I meant. There is no event loop/async monad style api because we have really good green threads.

As for blocking al

[2018-02-04 22:25] Gabriella439 commented on #133
The following paper is essential reading for this discussion:

* [Mio: A High-Performance Multicore IO Manager for GHC](http://haskell.cs.yale.edu/wp-content/uploads/2013/08/hask035-voellmy.pdf)

The reason I believe GHC can scale past 4 cores is in the abstract of that paper:

The short answer to your question is that GHC can have many more blocking threads than RTS capabilities (i.e. you can hav

[2018-02-04 22:30] j6carey commented on #133
"Performance seems to suffer as the number of GHC RTS capabilities increases past about 4" was based on experience with only a single program--hence the "seems to".  It is a real program doing lots of real work, but still, other programs would probably scale differently.

Furthermore, when staying on a single NUMA node I have not (yet) seen more than a 13% throughput difference between 3 processes

[2018-02-05 01:41] nponeccop commented on #133
It's not kernel queue, but hardware queue in the disk controller - SAS TCQ or SATA NCQ. You can fill the hardware queue so the controller is always busy either with normal thread pool or with aio - it doesn't matter. The only difference is CPU utilization (and that aio is limited and provides neither caching nor full POSIX semantics). See http://dba-oracle.com/real_application_clusters_rac_grid/as

[2018-02-20 03:01] Gabriel439 opened #136 "Add a section on Haskell's use in finance"
I see Haskell used a lot in finance and I would like to have a section to market that use case, but I don't know enough about how Haskell is used in finance to write that section on my own or judge its maturity.  If somebody familiar with this could add a paragraph or two I would really appreciate it

[2018-02-21 10:21] Lightyagami1 opened #137 "adding a educational Haskell book : Haskell Notes for Professionals book"
Content seems good. It might be a good addition to the list of books.
[link](http://goalkicker.com/HaskellBook)

[2018-02-22 20:35] Gabriella439 commented on #137
Yeah, would you be able to submit a pull request adding it?  I think you would be able to vouch for it best if you've read it

[2018-02-22 21:11] GetContented commented on #137
It’s a collection of stack overflow articles.

Sent from my self advertising device

[2018-02-27 11:14] Lightyagami1 commented on #137
After giving more time to it, I realized that it not good idea to learn Haskell through it. Sorry to bother.

[2018-02-27 17:09] Gabriella439 commented on #137
No problem! :)

I'll close this, then

[2018-02-27 17:09] #137 closed

[2018-04-09 20:01] anka-213 commented on #127
What do you mean? Generic programming is a very vague term. Can you give some examples?

[2018-04-10 21:02] nponeccop commented on #127
We can stick to something like this:

Generic programming centers around the idea of abstracting from concrete, efficient algorithms to obtain generic algorithms that can be combined with different data representations to produce a wide variety of useful software.

So how well Haskell supports the generic programming? It does extremely well compared to other languages. How we can substantiate this

[2018-05-10 12:03] barischrooneyj opened #138 "Table of ratings"
I think a concise format of (domain or programming need) showing rating (colour coded for easy visual recognition) would be a very efficient source of information for readers, and highlight the overall current state of the Haskell ecosystem. This could be implemented by just by a coloured rating for each item in the table of contents.

[2018-05-11 17:38] Gabriella439 commented on #138
Yeah, I agree.  If you can show me a rough sketch of the markdown you had in mind for this table to show this then I can extend it to cover each section

[2018-05-14 17:49] ad-si commented on #138
How about something like this:

[code]

[2018-05-16 01:38] Gabriella439 commented on #138
I like it!  I created a pull request: https://github.com/Gabriel439/post-rfc/pull/139

[2018-05-16 13:30] ad-si commented on #131
This section should probably also include Documentation (Haddock etc.), or do you think a separate section would be better?

[2018-05-16 13:33] ad-si opened #140 "Scripting / Command-line applications best in class?"
I feel like scripting / cli apps should maybe be "Best in class".
Especially because scripts are normally not tested (well), type-safety should be mandatory.
Furthermore there are some really good modules available to build CLI apps.

[2018-05-16 15:57] Gabriella439 commented on #140
The main reason why I don't give Haskell a "Best in class" is mainly due to scripting (as opposed to more stable command-line applications).  Specifically, if users want to be able to edit and run source code directly (i.e. using `runghc` or something similar) then they need to have the Haskell toolchain installed.  However, the Haskell toolchain has a large footprint and is not installed by defau

[2018-05-16 17:05] #138 closed

[2018-05-17 06:42] ad-si commented on #140
Ok, having to install the Haskell toolchain first is indeed a problem.

JSON parsing with Aeson feels pretty solid. Even more so if you want to make sure the parsed JSON objects are consistent / valid.

Mh, maybe someone should port https://github.com/felixSchl/neodoc to Haskell.
It's basically docopt written in PureScript.

But yeah, I'm not insisting it should be "Best in class", just wanted to

[2018-06-27 16:03] nponeccop commented on #131
I agree

[2018-06-27 16:22] nponeccop commented on #140
I find binary dynamic GHC libraries pretty unbloated. However, this approach doesn't work well in practice:

- Several (reported) bugs in Stack and Cabal prevent dynamic-only Haskell from working well
- Lack of ABI forces too much unnecessary recompilation (which is slow, but that by itself is not a problem)
- Stack largely ignores the binary packaging issues - it forces users to install everythin

[2018-11-13 12:48] nponeccop opened #149 "Grade by availability on Stackage"
In some areas it's not important whether a package is in any snapshots or not. But for libraries it's pretty much essential to be in snapshots for 2-3 recent GHC versions.

For example, for GUIs, `gi-gtk` is on Stackage, while `wx` isn't.

[2018-11-13 16:07] Gabriella439 commented on #149
@nponeccop: Yeah, that seems fine to me

[2018-11-14 17:47] sjakobi commented on #149
I believe there are quite a few high-quality libraries that are not on Stackage because the library maintainers are unwilling to cooperate with the Stackage maintainers or for other reasons.

So, if these packages are marked, I think it's important not to imply that they are of lesser quality than packages on Stackage.

[2018-11-14 18:14] Gabriella439 commented on #149
Maybe just add a "Stackage" label (and possibly a "Hackage" label for packages on Hackage but not Stackage) and let users infer what they want from those labels

[2018-11-15 20:47] codygman opened #150 "Rapid: GHCi hot reloading"
I think [rapid](http://hackage.haskell.org/package/rapid) should be added to [hot code loading](https://github.com/Gabriel439/post-rfc/blob/master/sotu.md#hot-code-loading). I've used it successfully to hold big frames data sets in memory and do analytics on them.

[2018-11-16 02:30] #150 closed

[2019-01-30 16:56] haishengwu-okta opened #153 "Is Data.Discrimination worth be in section 'Data structures and algorithms'?"
Seems super cool. https://github.com/ekmett/discrimination

[2019-01-31 05:30] Gabriella439 commented on #153
See if this looks good to you: https://github.com/Gabriel439/post-rfc/pull/154

[2019-01-31 15:39] #153 closed

[2019-02-23 15:20] sjakobi opened #158 "Mention massiv in data structures section"
http://hackage.haskell.org/package/massiv

I'm not sure if it's ready to be used in anger though. I haven't actually used it myself. Thoughts @lehins?

[2019-02-23 16:02] Gabriella439 commented on #158
@sjakobi: I think we should include it, judging mainly by the quality of the documentation and also this overview of how it compares to other libraries:

https://github.com/lehins/massiv/blob/master/README.md#other-libraries

[2019-02-23 16:06] sjakobi commented on #158
I just saw that it's already mentioned in the numerical programming section: https://github.com/Gabriel439/post-rfc/blob/master/sotu.md#numerical-programming

I'll make a PR.

[2019-02-23 16:57] #158 closed

[2019-02-24 00:24] lehins commented on #158
@sjakobi and @Gabriel439 thank you for including `massiv` in the list. I do hope it will get used in anger ;) I am continuously improving the library and will continue maintaining it indefinitely, just because it's one of my favorite topics and I really enjoy working on it.

[2019-03-17 17:00] naushadh commented on #66
Notable mention: https://hackage.haskell.org/package/massiv-io

[2019-03-17 17:20] naushadh commented on #66
I've played with Friday and JuicyPixels in the past for a project. My use cases were:
- resize
- crop
- convert from various formats to PNG
- validate arbitrary binary inputs to detect whether they're one of the supported/mainstream formats

I'd the above is a good enough starting point for a web app/service.

[2019-04-05 00:17] nponeccop commented on #66
I don't think it's "Image processing". It's more "Support for file formats". We already have such section for JSON. So we can  add JuicyPixels there, with a notification that it supports basic image operations on common formats (PNG, JPG)

[2019-05-17 05:40] 2mol opened #172 "Hasura - Server-side web programming"
Since PostgREST is mentioned under te Server-side web programming section, I feel like Hasura is a good addition to that list: https://hasura.io/, https://github.com/hasura/graphql-engine.

[2019-05-23 15:42] #172 closed

[2019-06-04 06:08] soupi commented on #1
I've written a blog post which links to a talk about a game I made in Haskell (Nyx), a blog post by Joe Vargas about a game he made (Dino Rush) and a get started guide to sdl2 + snake example. Might be nice to have some of the links in this document!

https://gilmi.me/blog/post/2018/07/24/pfgames

[2019-06-05 01:19] Gabriella439 commented on #1
@soupi: I added a mention of it here: https://github.com/Gabriel439/post-rfc/commit/81495209e68a94c83f9835c075c16542cc25dc86

[2019-06-05 04:19] soupi commented on #1
Thanks!

[2019-06-05 14:10] Gabriella439 commented on #1
@soupi: You're welcome! 🙂

[2019-07-01 23:04] lulucca12 commented on #1
Did you look at [`Haskell Sprite Kit`](https://github.com/mchakravarty/HaskellSpriteKit)?
Its implementation is unique and made by a Haskell senior (Manuel Chakravarty).

[2019-07-02 15:11] Gabriella439 commented on #1
@lulucca12: No, I haven't had a chance to look at that, yet

[2019-07-03 00:35] lulucca12 commented on #1
It is the most complete Haskell game bindings I've ever seen, the only problem is that it only works in macOS, as it is based in [Sprite Kit](https://developer.apple.com/spritekit/).

[2019-08-02 00:20] AntonRich opened #173 "Can Eta lang be considered as Haskell for Android?"
There is even a game written in Eta for android https://github.com/Jyothsnasrinivas/eta-android-2048

I think it deserves a mention in the android section.

[2019-08-02 03:14] #173 closed

[2019-08-02 03:14] Gabriella439 commented on #173
Yeah, I agree!  I just added a mention for it

[2020-03-21 17:44] louwers opened #176 "hindent unmaintained"
https://github.com/chrisdone/hindent/issues/557

[2020-03-21 21:13] #176 closed

[2020-03-21 21:17] nponeccop commented on #176
It should probably be replaced by brittany - it's maintained and supported by haskell-ide-engine:

https://github.com/lspitzner/brittany/commits/master

[2020-03-21 21:36] louwers commented on #176
Looks good! Can you create a PR?

[2020-07-14 00:54] mihaimaruseac commented on #176
`hindent` will have a new maintainer and will be maintained again

[2021-02-26 04:26] anacrolix commented on #176
Is there any update on the status of hindent?

[2021-02-26 22:54] mihaimaruseac commented on #176
It is maintained now, has had a new release.

[2021-04-08 13:09] NorfairKing opened #184 "What would you need to classify haskell as "best in class" for Testing?"

[2021-04-09 15:58] Gabriella439 commented on #184
@NorfairKing: I think basically when we can confidently claim that Haskell is superior to Python in every way for testing.  The impression I get is that people widely view Python as the leading language for test automation, so you'd have to dethrone Python.

[2021-04-09 16:57] silky commented on #184
As a random programmer in both ecosystems I'd be confident to make that claim!

[2021-04-11 07:08] NorfairKing commented on #184
@Gabriel439 That sounds fair! As far as I can tell, Haskell beats python in every way for testing.
However, I'm not a great python dev so I would need someone who is to show me how python is better at testing.

With the addition of [Validity-based testing](https://github.com/NorfairKing/validity) together with [`sydtest`](https://github.com/NorfairKing/sydtest), I claim that Haskell now deserves a

[2021-04-15 05:09] Gabriella439 commented on #184
@NorfairKing: Alright, if you'd like to submit the PR with the updated rating and description justifying the rating then I'd accept changing the status to best in class

[2021-04-15 05:32] NorfairKing commented on #184
@Gabriel439 Coming up! But please don't do it just because I asked, if you disagree.
If you disagree then I have more work to do, but I'm happy to do it :)

[2021-04-15 05:37] Gabriella439 commented on #184
@NorfairKing: I'm not sure, but my view is that the easiest way to find out is to just make the bold claim and see if people push back on it or not.  The worst that happens is that we can always walk things back if others disagree

[2021-04-15 22:52] nponeccop opened #186 "Global type inference"
The document mentions "global type inference" several times, but it isn't technically true - Haskell doesn't have a global type inference. Quite opposite, the inference tries to be as local as possible, e.g. in case of Hindley-Milner principal types.

I guess we could use https://en.wikipedia.org/wiki/Lie-to-children sparingly, but we need a better explanation of how type inference is different fr

[2021-04-17 22:21] Gabriella439 commented on #186
@nponeccop: Would calling Haskell "based on Hindley-Milner type inference" be accurate enough?

[2021-04-18 23:19] nponeccop commented on #186
I think something like "first-class type inference" would remain loosely understandable by laypeople not familiar with Haskell and/or Hindley-Milner languages, but it wouldn't be misleading. And I think in Type Driven Development we could explain what does it mean precisely:

- Types are inferred in more contexts than in typical mainstream language (C#, C++, TypeScript) - e.g. function argument ty

[2021-04-19 05:00] Gabriella439 commented on #186
@nponeccop: Do you mean to say "best in class type inference"?  When I think "first-class" I usually understand that to mean that it is something that can be manipulated within the language (e.g. first class functions), but Haskell's type inference cannot be passed as a function argument or stored within a list/record

[2021-04-22 10:47] #184 closed